.map {
  max-height: 457px;
  margin-bottom: 54px;
}

.map__screenshot {
  position: relative;
}

.map__flag {
  display: block;
  position: relative;
  top: -316px;
  left: 139px;
  background-image: url("../img/icon-map-pin.svg");
  background-repeat: no-repeat;
  height: 100px;
  width: 67px;
}

.map__interactive {
  display: none;
}

@media (min-width: @tablet-width) {
  .map {
    margin: 0 auto;
    padding: 0;
    margin-bottom: 71px;
    width: 768px;
    height: 457px;
    position: relative;
  }

  .map__screenshot {
    width: 768px;
    height: 457px;
    position: relative;
    z-index: 1;
  }

  .map__interactive {
    display: block;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 768px;
    height: 457px;
    z-index: 2;
  }

  .map__flag {
    position: absolute;
    z-index: 2;
    top: 139px;
    left: 363px;
  }
}

@media (min-width: @desktop-width) {
  .map {
    order: 2;
  }

  .map__screenshot {
    margin: 0;
    width: 525px;
    height: 457px;
  }

  .map__interactive {
    width: 525px;
    height: 457px;
  }

  .map__flag {
    left: 246px;
  }
}
