.benefits {
  margin-top: 35px;
  padding-left: 30px;
}

.benefits__title {
  .title-font;
  margin-bottom: 85px;
}

.benefits__list {
  margin: 0;
  padding: 0;
}

.benefits__item {
  .bold;
  list-style: none;
  margin-bottom: 83px;
}

.benefits__item:last-child {
  margin-bottom: 30px;
}
