.catalog-page__header {
  background-color: @light-grey;
  margin-bottom: 30px;
}

.catalog-page__title {
  .title-font;
  font-size: 27px;
  text-align: center;
  padding: 73px 41px;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .catalog-page {
    margin-top: -44px;
  }

  .catalog-page__header {
    margin-bottom: 58px;
  }


  .catalog-page__title {
    padding-top: 96px;
    padding-bottom: 102px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-page {
    margin-top: -42px;
  }

  .catalog-page__header {
    margin-bottom: 124px;
  }
}
