.form-page {
margin-bottom: 55px;
}
.form-page__header {
background-color: @light-grey;

}
.form-page__title {
.title-font;
padding: 0;
margin:0;
font-size: 27px;
padding: 74px 36px;
margin-bottom: 24px;
}
.order-form {
margin-left: 30px;
margin-right: 30px;
}
.order-form__description {
  .general-font;
  font-size: 13px;
  margin-bottom: 30px;
}
.order-form__fieldset {
.bold;
color: @seafom-blue;
text-transform: uppercase;
}
.order-form__legend {
.bold;
line-height: 18px;
}
.order-form__label {

}
.order-form__radio {

}
.order-form__checkbox {

}
.order-form__text {

}
.order-form__textarea {

}
.order-form__explain {

}
.order-form__button {

}
