.main-catalog {
  padding-left: 30px;
  padding-right: 30px;
}

.main-catalog__item {
  border: 1px solid #ececec;
  border-top: none;
  margin-bottom: 30px;
}

.main-catalog__item__image {
  margin-bottom: 21px;
}

.main-catalog__item__title {
  .bold;
  display: block;
  line-height: 24px;
  color: black;
  margin: 0;
  padding: 0;
  padding-left: 28px;
  padding-right: 25px;
  margin-bottom: 6px;
}

.main-catalog__item__features {
  .general-font;
  font-size: 13px;
  line-height: 30px;
  color: #444444;
  margin: 0;
  padding: 0;
  margin-left: 28px;
  margin-right: 28px;
  padding-bottom: 20px;
}

.main-catalog__item__price-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding-bottom: 30px;
  padding-left: 28px;
  margin-right: 27px;
  border-top: 1px solid #ececec;
}

.main-catalog__item__price {
  .bold;
  color: black;
  font-size: 15px;
  line-height: 24px;
  display: block;
}

.main-catalog__item__button {
  background-image: url("../img/icon-cart.svg");
  width: 20px;
  height: 19px;
  object-fit: contain;
  opacity: 0.2;
  color: transparent;
  border: none;
  background-color: white;
}

@media (min-width: @tablet-width) {
  .main-catalog {
    padding-left: 52px;
    padding-right: 50px;
  }

  .main-catalog__item {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 53px;
    border-top: 1px solid #ececec;
    max-height: 334px;
  }

  .main-catalog__item__image {
    width: 334px;
    height: 334px;
    margin-bottom: 0;
  }

  .main-catalog__info-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 335px;
  }

  .main-catalog__description-wrapper {
    min-height: 260px;
  }

  .main-catalog__item__title {
    font-size: 20px;
    line-height: 24px;
    padding: 0;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 70px;
  }

  .main-catalog__item__features {
    font-size: 15px;
    //margin-bottom: 159px;
  }

  .main-catalog__item__price-wrapper {
    padding-top: 21px;
    padding-bottom: 28px;
    margin-top: 0;
    padding-left: 28px;
  }

  .main-catalog__item__price {
    font-size: 17px;
    margin-right: 165px;
  }
}

@media (min-width: @desktop-width) {
  .main-catalog {
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
  }

  .main-catalog__item {
    flex-direction: column;
    max-height: 660px;
  }

  .main-catalog__item__title {
    padding: 0;
    max-width: 235px;
    padding-top: 25px;
  }

  .main-catalog__item__image {
    width: 316px;
    height: 462px;
    margin-bottom: 3px;
  }

  .main-catalog__info-block {
    padding-left: 26px;
    max-height: 316px;
  }

  .main-catalog__description-wrapper {
    min-height: 118px;
    margin-bottom: 5px;
  }

  .main-catalog__item__price-wrapper {
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 7px;
  }

  .main-catalog__item__features {
    margin: 0;
    padding: 0;
  }

  .main-catalog__item__price {
    margin-right: 16px;
    padding-bottom: 27px;
  }
}
