.main-stock {
  background-image:url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
min-height: 375px;
background-position: center;
}
.main-stock__slogan {
  font-family: "Opensans-bold",sans-serif;
  font-size: 27px;
  font-weight: bold;
  line-height: 1.11;
  text-align: center;
  padding-top: 88px;
padding-left:39px;
padding-right: 39px;
color: @dark-brown;
}
.main-stock__item {
list-style: none;
  padding-left: 29px;
  padding-top: 30px;
  padding-bottom: 30px;

}
.main-stock__link {
 font-family: "Opensans-bold",sans-serif;
  font-size: 19px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.26;
  letter-spacing: normal;
  text-align: left;
  color: white;
  text-decoration: none;


}
.main-stock__item--toy{
  background-color: @greeny-blue;
}
.main-stock__item--lamp {
  background-color: @seafoam-blue;
}
