.page-header {
  background-color: white;
  min-height: 79px;
}

.page-header__logo {
  display: block;
  margin-bottom: 32px;
}

.page-header__logo-image {
  padding-left: 116px;
}

.main-nav__mobile-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 22px;
}

.main-nav__toggle {
  border: none;
  background-color: transparent;
  padding-right: 27px;
  padding-bottom: 34px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
}
/*
.main-nav__menu-wrapper {
  display: none;
}

.main-nav__toggle:hover .main-nav__menu-wrapper{
  display: block;
}
*/
.site-list__item {
  list-style: none;
  border: 1px solid #ececec;
}

.site-list__item__link {
  .bold;
  text-decoration: none;
  line-height: 24px;
  display: block;
  padding-bottom: 27px;
  text-align: center;
  padding-top: 30px;
}

.additional-list__item__link {
  text-decoration: none;
  padding: 24px 50px;
}

.additional-list__item {
  display: none;
}

.user-list__item {
  list-style: none;
  border: 1px solid #ececec;
}

.user-list__item__link {
  .bold;
  text-decoration: none;
  line-height: 24px;
  display: block;
  text-align: center;
  padding-bottom: 29px;
  padding-top: 25px;
}

@media (min-width: @tablet-width) {
  .page-header {
    //width: auto;
    //display: flex;
    //justify-content: space-between;
    //padding-left: 50px;
    //padding-right: 50px;
  }

  .main-nav {
    min-height: 88px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .main-nav__mobile-wrapper {
    margin: 0;
    padding: 0;
  }

  .main-nav__list {
    display: block;
  }

  .page-header__logo {
    margin-bottom: 0;
    margin-left: 50px;
    padding-top: 17px;
  }

  .page-header__logo-image {
    background-image: url("../img/logo-tablet.svg");
    background-repeat: no-repeat;
    display: block;
    width: 112px;
    height: 46px;
    padding-left: 112px;
    box-sizing: border-box;
  }

  .main-nav__toggle {
    display: none;
  }

  .site-list {
    order: 2;
    display: flex;
  }

  .site-list__item {
    border: none;
  }

  .site-list__item__link {
    font-size: 15px;
    padding-right: 35px;
    padding-left: 35px;
  }

  .additional-list {
    order: 3;
    margin-top: 25px;
  }

  .additional-list__item--delievery {
    display: block;
  }

  .additional-list__item__link--delievery{
    .general-font;
  }

  .user-list {
    order: 1;
    display: flex;
  }

  .user-list__search {
    width: 18px;
    height: 18px;
    background: url("../img/icon-search.svg") no-repeat;
    text-indent: -9999px;
    overflow: hidden;
    background-position: center;
    padding-left: 32px;
    padding-right: 32px;
  }

  .user-list__bucket {
    padding-right: 50px;
    padding-left: 83px;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__mobile-wrapper {
    border: 1px solid #ececec;
    border-left: none;
    margin-left: 0;
    flex-grow: 1;
    order: 2;
  }

  .page-header__logo {
    padding-top: 8px;
  }

  .page-header__logo-image {
    background-image: url("../img/logo-desktop.svg");
    background-repeat: no-repeat;
    display: block;
    width: 149px;
    height: 72px;
    padding-left: 149px;
    box-sizing: border-box;
  }

  .site-list {
    order: 1;
  }

  .site-list__item__link {
    font-size: 17px;
    line-height: 24px;
    padding: 29px 24px 35px 47px;
  }

  .site-list__item:nth-of-type(2) {
    border-right: none;
  }

  .site-list__item {
    border: 1px solid #ececec;
  }

  .user-list {
    order: 3;
  }

  .user-list__item__link {
    padding-top: 30px;
  }

  .additional-list {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
  }

  .additional-list__item {
    display: block;
  }

  .additional-list__item__link {
    .bold;
    font-size: 15px;
    line-height: 24px;
    padding: 15px 10px 10px 51px;
  }

  .additional-list__item--delievery {
    margin-left: 444px;
  }

  .additional-list__item__link--delievery {
    .general-font;
  }
}
