.page-footer {
  background-color: @light-grey;
  padding-bottom: 30px;
}

.social__list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-left: 89px;
  padding-right: 92px;
  justify-content: space-between;
  margin-bottom: 53px;
}

.social__link--instagram {
  display: block;
  background-image: url("../img/icon-insta.svg");
  background-repeat: no-repeat;
  width: 22px;
  height: 21px;
  color: transparent;
}

.social__link--facebook {
  display: block;
  background-image: url("../img/icon-fb.svg");
  background-repeat: no-repeat;
  width: 15px;
  height: 28px;
  color: transparent;
  margin-top: -6px;
}

.social__link--twitter {
  display: block;
  background-image: url("../img/icon-twitter.svg");
  background-repeat: no-repeat;
  width: 23px;
  height: 20px;
  color: transparent;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-left: 66px;
  padding-right: 69px;
}

.copyright__text {
  .bold;
  font-size: 19px;
  line-height: 18px;
}

.copyright__img {
  display: block;
  background-image: url("../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;
  width: 27px;
  height: 34px;
  color: transparent;
  margin-top: -6px;
}

@media (min-width: @tablet-width) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    padding-right: 64px;
    padding-left: 64px;
    padding-top: 50px;
  }


  .page-footer__logo {
    background-image: url("../img/logo-footer.svg");
    width: 102px;
    height: 34px;
    margin-right: 75px;
  }

  .social__list {
    margin: 0;
    padding: 0;
  }

  .social__item {
    padding: 12px 21px;
  }

  .page-footer__copyright {
    padding: 0;
    margin: 0;
    padding-top: 13px;
  }

  .copyright__text {
    margin-right: 24px;
  }


}

@media (min-width: @desktop-width) {
  .page-footer {
    padding-left: 51px;
    padding-top: 47px;
  }

  .page-footer__logo {
    margin-right: 78px;
  }

  .copyright__text {
    margin-right: 24px;
  }
}
