.page-header {
  background-color:white;
  height:79px;
display:flex;
}
.page-header__logo-image {
  margin-top:14px;
  padding-left:108px;
}
.main-nav__toggle {
border:none;
background-color:white;
margin-top: 24px;
margin-left: 61px;
}
.main-nav__wrapper {
  display:none;
}
.main-nav__toggle:hover {
  opacity:0.6;
}
.main-nav__toggle:active {
  opacity:0.3;
}
.main-nav__toggle:hover .main.nav__wrapper {
  display:block;
}

