.promo__title {
 .title-font;
}
.promo__week {
 font-family: "Opensans-bold", sans-serif;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.18;
  letter-spacing: normal;
  text-align: left;
  color:@seafoam-blue;
  text-align: left;
  text-transform: uppercase;
}
.promo__description {
.general-font;
}

.feature-item__name {
.general-font;
}
.feature-item__value {
  .general-font;
}
.promo__photo {


}
.promo__price {
  .bold
}
.promo__buy {
.bold;
line-height: 24px;
padding:20px 85px;
background-color: white;
border:solid 2px @greyish-brown;
text-align: center;

}

