.reviews {
padding-left:30px;
padding-right: 34px;
}
.reviews__title {
.title-font;
padding-top: 27px;
}
.reviews__item {
margin-bottom:30px;
}
.reviews__text {
.general-font;
line-height: 30px;
margin-bottom: 30px;
}
.reviews__author {
.bold;
margin:0;
padding: 0;

}
.reviews__nickname {
.general-font;
font-size: 17px;
line-height: 30px;
padding: 0;
margin: 0;
margin-top: 5px;
}
.slider__item--second, .slider__item--third {
  display: none;
}
.slider__toggles {
display: flex;
margin-bottom: 39px;
}
.slider__toggles__next {

background-image: url("../img/icon-right-arrow.svg");
width: 130px;
height: 52px;
border:1px solid #ececec;
background-repeat: no-repeat;
background-color: white;
background-position: center;
}
.slider__toggles__prev {

background-image: url("../img/icon-left-arrow.svg");
width: 130px;
height: 52px;
border:1px solid #ececec;
background-repeat: no-repeat;
background-position: center;
background-color: white;
}
.reviews__toggles__send {
  display: block;
.bold;
font-size: 18px;
line-height: 20px;
text-decoration: none;
text-transform: uppercase;
padding:13px 78px;
background-color: white;
border:solid 2px @greyish-brown;
margin-bottom: 45px;
}
